<%- include("partials/header") %>

<h1>Added Questions Successfully</h1>

<form  action="/<%= testname %>/managetest" method="GET">
<button type="submit" name="button">Add new Question</button>
</form>
<%- include("partials/footer") %>
