<%- include("partials/header") %>

    <div >
          <div class="first-column"  style="display:inline-block">

           <h1  class = "short-heading">
             <span>
               Recruitment Platform...
             </span>
             <br>
             <span>
              Matching Developers
             <br>
             with Great Companies.

             <span>
           </h1>

           <div class="row">
             <!-- <div class="col-6 col-md-4 landing-login">
              For Companies<br>
              Hire for your company!
              <a href="/" class="btn btn-lg btn-success">Sign in as recruiter</a>
             </div> -->
             <div class="col-6 col-md-4 landing-login" style="margin-left:50px">
              For candidates!<br>
              Sign in as a candidate..<br>
             <a href="/studentLogin" class="btn btn-lg btn-success">Sign in as Developer</a>
             </div>
           </div>

          </div>
           <div class="second-column" style="padding-top:60px" >
                <img style="width:520px" src="https://static-fastly.hackerearth.com/newton/static/images/developer-coding.svg">
           </div>
     </div>


<%- include("partials/footer") %>
