<%- include("partials/header") %>
    
    <h1>Your Test is added</h1>
    <h2>You can add questions by going to manage test</h2>

    <div class="container">
        <form action="/selecttest" method="GET">
            <button type="submit" class="btn btn-success btn-lg">Manage Test</button>
        </form>
    </div>
    
<%- include("partials/footer") %>